<!DOCTYPE html>
<html>
<head>
</head>
<style>
 div.container {
  width: 37%;
  margin: 0 auto;
  border:2px solid #3f51b55e;
  margin-top: 100px;
  background-color: whitesmoke;
 
}
h2{
  background-color: #3f51b5a6;
}
button{
  margin-top: 25px;
  background-color: #00800094;
  padding: 10px 0px;
  text-align: center;
  width: 80%;
  margin: 4% 10%;
}
body{
  background-image:""
}
</style>
<body>
  <div class="container">
    <h2 style="text-align: center">Get started today </h2>
    <table>
      <tr>
        <th  style="text-align:left; padding-left:23px"; >Firstname</th>
        <th style="text-align:left; padding-left:50px";>Lastname</th>
      </tr>   
        <tr>
        <td><input type="text" name="Firstname" placeholder="firstname"  style="margin-left: 20px"> </td>
        <td><input type="text" name="Lastname" placeholder="Lastname" style="margin-left: 50px" ></td>
        </tr>
        <tr>
        <th style="text-align:left; padding-left:23px";>Email</th>
        <th style="text-align:left; padding-left:50px";>Password</th>
        </tr>  
        <tr>
        <td><input type="text" name="Email" placeholder="mail"  style="margin-left: 20px"> </td>
        <td><input type="text" name="Password" placeholder="Password" style="margin-left: 50px" ></td></tr>
      </table>      
        <button type="submit" value="submit" >Claim your Trial Free</button>
        <div style="margin-bottom: 20px">You are agreeing to our <span style="color: skyblue">Terms and Conditions</span></div>
  </body>
  </html>
        


    